<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <loyalty_programm>
            <general>
                <enabled>1</enabled>
                <percent_purchase>10</percent_purchase>
                <show_message_PDP>1</show_message_PDP>
            </general>
        </loyalty_programm>
        <payment>
            <loyaltycoin>
              <title>Loyalty Credit Coin</title>
              <model>Talexan\Credit\Model\Method\LoyaltyCoin</model>
              <active>1</active>
            </loyaltycoin>
        </payment>
    </default>
</config>