<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Talexan\Credit\Api\LoyaltyCoinsHistoryRepositoryInterface"
                type="Talexan\Credit\Model\ResourceModel\LoyaltyCoinsHistoryRepository" />
    <preference for="Talexan\Credit\Api\Data\LoyaltyCoinsHistoryInterface" type="Talexan\Credit\Model\Data\LoyaltyCoinsHistory" />
    <!--<virtualType name="Talexan\Credit\Model\CoinsHistorySearchResult" type="\Magento\Framework\Api\SearchResults" />-->
    <preference for="Talexan\Credit\Api\Data\CoinsHistorySearchResultInterface"
                type="Talexan\Credit\Model\CoinsHistorySearchResult" />
</config>
